/* ===== IBC Official Blue Theme ===== */

:root {
    --ibc-blue-dark: #061f4e;
    --ibc-blue-main: #0a3dac;
    --ibc-blue-light: #1d7be7;
}

/* Header */
.bg-ibc {
    background: linear-gradient(135deg, var(--ibc-blue-dark), var(--ibc-blue-main));
}

/* Text color */
.text-inpt {
    color: var(--ibc-blue-main) !important;
}

/* Custom Button */
.btn-inpt {
    background: linear-gradient(135deg, var(--ibc-blue-dark), var(--ibc-blue-main));
    color: white;
    border: none;
    transition: 0.3s ease;
}

.btn-inpt:hover {
    background: linear-gradient(135deg, var(--ibc-blue-main), var(--ibc-blue-light));
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(14, 78, 216, 0.4);
}

/* Map size */
#map {
    height: 400px;
}
/* ===== IBC OFFICIAL BLUE ===== */
